/.envrc
/cmdb.html
/README.html
/ansible-cmdb*.deb
/ansible-cmdb*.rpm
/ansible-cmdb*.tar.gz
/ansible-cmdb*.zip
/example/gen_*
/build/
/dist/
/*.whl
/src/ansible_cmdb.egg-info/
/example/cmdb/
__pycache__
*.pyc
